.shoppingcartwidget {
    padding-top: 30px;
    padding-bottom: 15px;
    .cartWidgetClose {
        position: absolute;
        top: 5px;
        left: 15px;
    }
    a.widget-remove {
      color: red;
      font-size: 115%;
    }

}


/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
    .shoppingcartwidget {
        padding-top: 15px;
    }
}